@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--dark-blue-main);
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  color: var(--white);
}

:root {
  /* Primary */
  --dark-blue-email: hsl(217, 28%, 15%);
  --dark-blue-main: hsl(218, 28%, 13%);
  --dark-blue-footer: hsl(216, 53%, 9%);
  --dark-blue-testimonials: hsl(219, 30%, 18%);
  /*Accent */
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
}

.navbar {
  background-color: var(--dark-blue-email);
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1.5em;
}

.logo {
  width: 100%;
}

.links {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  line-height: 1.5em;
}

.hero {
  text-align: center;
  background: url(../images/bg-curvy-mobile.svg),
    linear-gradient(
      to top,
      var(--dark-blue-main) 0%,
      var(--dark-blue-main) 200px,
      var(--dark-blue-email) 200px,
      var(--dark-blue-email) 100%
    );
  background-position: center bottom 200px, center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
}

.hero-image {
  max-width: 100%;
}

.hero-text {
  max-width: 440px;
}

.button {
  background-image: linear-gradient(to right, var(--cyan) 0%, var(--blue) 100%);
  border-radius: 22px;
  border: none;
  box-shadow: none;
  color: var(--white);
  width: 100%;
  max-width: 250px;
  padding: 1em;
  margin: 2em 0 3em;
}

.features {
  background-color: var(--dark-blue-main);
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5em;
  text-align: center;
  padding: 5em 29px;
}

.subtitle {
  font-weight: bold;
  font-size: 1.3em;
}

.description {
  margin: 0 auto;
}

.productivity {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2em;
  justify-content: center;
  align-items: center;
  padding: 5em 29px;
}

.productivity-image {
  max-width: 100%;
  margin: 3em auto 2em;
}

.title {
  font-size: 1.3em;
  font-weight: bold;
}

.content p:last-of-type {
  margin-bottom: 28px;
}

.link {
  color: var(--cyan);
  border-bottom: 1px solid var(--cyan);
  text-decoration: none;
  padding-bottom: 0.5em;
  padding-right: 25px;
  background: url("../images/icon-arrow.svg") no-repeat right bottom 4px;
  background-size: 20px;
}

.testimonials {
  padding: 0 29px;
  margin: 5em 0 0;
}

.quotes {
  width: 30px;
  padding-left: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2em;
}

.card {
  background-color: var(--dark-blue-testimonials);
  box-shadow: 5px 10px 8px var(--dark-blue-email);
  border-radius: 5px;
  padding: 1.5em;
}

.card p {
  font-size: 12px;
  margin: 0;
}

.autor {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
}

.name {
  font-weight: bold;
}

.card .charge {
  font-size: 10px;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.form-container {
  background-color: var(--dark-blue-email);
  margin: 0 29px;
  padding: 1.5em;
  border-radius: 5px;
  box-shadow: 5px 10px 8px var(--dark-blue-footer);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 180px;
}

.form input {
  box-sizing: border-box;
  text-align: center;
  padding: 1em;
  border-radius: 22px;
  border: none;
  color: var(--dark-blue-email);
  width: 100%;
  max-width: 250px;
  margin: 1em auto;
}

.form .button {
  width: 100%;
  margin: 2em auto 1em;
}

.footer {
  background-color: var(--dark-blue-footer);
  padding: 15em 0 2em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 425px) {
  .logo {
    max-width: 150px;
  }

  .description {
    max-width: 376px;
  }

  .content {
    padding: 0 50px;
  }

  .testimonials {
    padding: 0 80px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 450px;
    grid-column-gap: 3em;
  }

  .links {
    display: grid;
    grid-template-columns: repeat(3, 150px);
  }

  .hero {
    background: url(../images/bg-curvy-desktop.svg), var(--dark-blue-email);
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .hero-title {
    font-size: 2em;
    max-width: 500px;
  }

  .hero-image {
    width: 100%;
    max-width: 440px;
  }

  .button {
    margin: 2em 0 6em;
    max-width: 200px;
  }

  .features {
    padding: 5em 0;
    max-width: 800px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5em;
  }

  .productivity {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    justify-content: center;
    align-items: center;
    padding: 5em 80px;
  }

  .title {
    font-size: 2em;
    max-width: 300px;
  }

  .link {
    background: url("../images/icon-arrow.svg") no-repeat right bottom 10px;
  }

  .summary,
  .link {
    font-size: 1.3em;
    max-width: 650px;
  }

  .testimonials {
    max-width: 950px;
    margin: 100px auto 0;
  }

  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3em;
  }

  .card {
    max-width: 300px;
  }

  .form-container {
    max-width: 650px;
    margin: 0 auto;
    top: 100px;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 180px;
    grid-column-gap: 2em;
    margin: 0 2em;
  }

  .form input {
    max-width: 100%;
    margin: 2em auto 1em;
  }
}
