@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--dark-blue-email);
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  color: var(--white);
}

:root {
  /* Primary */
  --dark-blue-email: hsl(217, 28%, 15%);
  --dark-blue-main: hsl(218, 28%, 13%);
  --dark-blue-footer: hsl(216, 53%, 9%);
  --dark-blue-testimonials: hsl(219, 30%, 18%);
  /*Accent */
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
}

.navbar {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1.5em;
}

.logo {
  width: 100%;
}

.links {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  text-align: center;
  background: url(../images/bg-curvy-mobile.svg),
    linear-gradient(
      to top,
      var(--dark-blue-main) 0%,
      var(--dark-blue-main) 200px,
      var(--dark-blue-email) 200px,
      var(--dark-blue-email) 100%
    );
  background-position: center bottom 200px, center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
}

.hero-image {
  max-width: 100%;
}

.hero-text {
  max-width: 440px;
  line-height: 1.5em;
}

.button {
  background-color: var(--cyan);
  border-radius: 22px;
  border: none;
  box-shadow: none;
  color: var(--white);
  width: 100%;
  padding: 1em;
  margin: 2em 0 3em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 425px) {
  .logo {
    max-width: 150px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 450px;
    grid-column-gap: 3em;
  }
  .links {
    display: grid;
    grid-template-columns: repeat(3, 150px);
  }
  .hero {
    background: url(../images/bg-curvy-desktop.svg);
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .hero-image {
    width: 100%;
    max-width: 440px;
  }
  .button {
    margin: 2em 0 6em;
  }
}
